*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set row flex  */
.row{
    display: flex;
}

/* Header Style starts */

header{
    height: 100vh;
    background-image: url('/image/pic.jpg');
    background-size: cover;
    background-position: top;
    
}

nav{
    background-color: black;
}

.nav-links{
    display: flex;
    margin-left: auto;
    list-style: none;
}

h2{
    margin: 20px 0px 20px 100px;
    color: #fff;
}

.link{
    margin: 20px 50px 20px 0; 
    font-size: 120%;
}

a{
    color: #fff;
    text-decoration: none;
}

.row input[type="checkbox"]{
    margin-left: auto;
    display: none;
}

.fa-align-justify{
    color: #fff;
    margin: 20px 50px 0 0; 
    font-size: 150%;
    cursor: pointer;
    display: none !important;
    margin-left: auto;

}

.nav-content h1{
    color: #fff;
    text-align: center;
    font-size: 340%;
    font-weight: bold;
    padding-top: 150px;
    margin: 0;
}

.nav-content p{
    color: #fff;
    text-align: center;
    font-size: 160%;
    font-weight: bold;
    padding-top: 20px;
   
}

/* Header Style Ends */

/* About Style Starts */

.about{
    margin: 50px auto;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    width: 80%;
}

.about-row{
    display: flex;
}

.image{
    width: 25%;
}

.bio{
    width: auto;
    margin-left: 50px;
}

.image img{
    width: auto;
    height: 28vh;
}

.profile{
    width: 50%;
}

.profile-show{
    display: flex;
    margin-left: 30px;
}

.about-me{
    width: 70%;
    margin-bottom: 30px;
    margin-left: 30px;
}
.about-me h2{
    color: #000;
    margin: 0;
}

.about-me p{
    width: 80%;
    text-align: justify;
    line-height: 2;
}

.skill{
    padding-top: 30px;
}

.skill h2{
    color: #000;
    margin: 0px 0px 0px 30px;
}

.skill span{

    margin-left: 30px;
}

.progress{
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin: 20px 30px;
}

.progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width .6s ease;
}

/* About Style Ends */

/* Services style Starts */

.services{
    margin-top: 60px;
}

.services h2{
    color: #000;
    text-align: center;
    font-size: 200%;
    margin: 0;
}

.services p{
    text-align: center;
    font-size: 120%;
}

.services-row{
    display: flex;
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
}

.services-box{
    margin:40px 0px 0px 10px;
    padding-top: 30px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
}

.services-box p{
    width: 80%;
    text-align: justify;
    margin: 30px auto;

}

.fa-book{
    color: black; 
    display: block !important;
    text-align: center;
    font-size: 240%;
    margin-bottom: 20px;
}

/* Contact Us Style Starts */

.contact-us{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    width: 80%;
    margin: 60px auto;
}

.contact-row{
    display: flex;
}

.contact-form{
    padding: 40px 0px 40px 40px;
    width: 50%;
}

.contact-form h1{
    font-size: 200%;
}

.contact-form input{
    width: 95%;
    height: 7vh;
}

.contact-form textarea{
    width: 95%;
    height: 20vh;
}

.SubBtn{
    width: 150px;
    height: 50px;
    margin: 40px auto;
    background-color: #0078ff;
    color: #fff;
    border: 1px solid #0078ff;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.contact-details{
    padding: 40px 0px 40px 40px;
    width: 50%;
}

.contact-details h1{
    font-size: 200%;
}

.contact-details p{
    width: 80%;
    text-align: justify;
    line-height: 2;
}

.Address{
    padding-top: 20px;
}

.Social-links{

    font-size: 200%;
    padding-top: 30px;
}

.Social-links a{
    color: #000;
}

/* footer style starts */

footer p{
    text-align: center;
    font-size: 150%;
}

@media (max-width:880px){
    .fa-align-justify{
        display: block !important;
    } 

    .row input[type="checkbox"]{
        display: block;
    }
    
    .nav-links{

        position: fixed;
        top: 48px;
        left: 0%;
        display: none;
        text-align: center;
        width: 100%;
        height: 100vh;
        margin: 0;
        background-color: black;
        transition: all 0.3s ease;
    }

    .link{
        margin: 70px 0px;
    }

}

@media (max-width:850px){

    .about-row{
        display: block;
    }

    .profile{
        width: 100%;
    }

    .about-me{
        width: 100%;
    }

}

@media (max-width:450px){

    .profile-show{
        display: block;
    }

    .bio{
        margin-top: 50px;
        margin: 0;
    }
}

@media (max-width:770px){

    .services-row{
        display: block;
    }

    .services-box p{
        padding-bottom: 60px;
    
    }

    .contact-us{

        width: 70%;
    }

    .contact-row{
        display: block;
    }

    .contact-form{
        width: 100%;
    }

    .contact-form h1{
        text-align: center;
    }

    .contact-details{
        width: 100%;
    }
}